<!-- Default form register -->
<div class="container mt-5 col-xl-6">
<form class="text-center border border-light p-5" action="/admin/addCategory" method="post" >
<div class="margin-top-auto">
    <p class="h4 mt-4">Add Category</p>
        <div class="col">
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Category Name" name="CategoryName">
        </div>
</div>
    <button class="btn btn-info my-4 " type="submit">Submit</button>
</form>
</div>