<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Contact Us</h6>
						<p>
							<span style="color:darkgoldenrod">azeeztp2020@gmail.com</span>
							
							
							{{!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore
							magna aliqua. --}}
						</p>
					</div>
				</div>
				<div class="col-lg-6  col-md-6 col-sm-6 float-end">

					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							<span style="color:darkgoldenrod">Lapstore
							The Complete lapstore<br></span>
							
						
						</p>
					</div>
					
			 </div>
			
		</div>
		</div>
	</footer>