<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if admin}}
      {{>admin-header}}
      {{else}}
      {{>user-header}}
      {{/if}}
      
    {{{body}}}
  </body>
</html>
