<style>
    body {
        background: #f7f7ff;
        margin-top: 20px;
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid transparent;
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    }

    .me-2 {
        margin-right: .5rem !important;
    }
</style>

<div class="container pt-5">
    <div class="pt-md-5">


        <div class="main-body pt-md-5">

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                    class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>{{user.name}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="post" action="/addAddress/{{user._id}}" class="colorlib-form"
                                        id="checkout-form">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="fname">First Name</label>
                                                    <input type="text" id="fname" name="fname" class="form-control"
                                                        placeholder="Your firstname">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="lname">Last Name</label>
                                                    <input type="text" id="lname" name="lname" class="form-control"
                                                        placeholder="Your lastname">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="fname">House Name</label>
                                                    <input type="text" id="address" name="house" class="form-control"
                                                        placeholder="Enter Your House Name">
                                                </div>

                                            </div>


                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="companyname">Local Place</label>
                                                    <input type="text" id="towncity" name="localplace"
                                                        class="form-control" placeholder="Town or City">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="companyname">Town/City</label>
                                                    <input type="text" id="towncity" name="towncity"
                                                        class="form-control" placeholder="Town or City">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="companyname">District</label>
                                                    <input type="text" id="towncity" name="district"
                                                        class="form-control" placeholder="Town or City">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="stateprovince">State</label>
                                                    <input type="text" id="fname" name="state" class="form-control"
                                                        placeholder="State ">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="lname">PIN Code</label>
                                                    <input type="number" id="zippostalcode" name="pin"
                                                        class="form-control" placeholder="PIN Code">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="email">E-mail Address</label>
                                                    <input type="email" id="email" name="email" class="form-control"
                                                        placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="Phone">Mobile Number</label>
                                                    <input type="number" id="zippostalcode" name="mobile"
                                                        class="form-control" placeholder="Mobile">
                                                </div>
                                            </div>



                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <a href="/address" class="btn btn-primary">Cancel</a>
                                                <button class="btn btn-success" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-lg-4">


                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>