<style>
	.err {
		color: red;
	}
</style>

<!--================Login Box Area =================-->



<section class="login_box_area section_gap  ">
	<div class="container pt-5">
		<div class="row">
			
			
			<div class="col-lg-6 ">
				<div class="login_form_inner">
					<h3>Log in to enter</h3>

					{{#if alert}}
					<div class="alert alert-success alert-dismissible fade show container mt-5 col-xl-6  "
						id="success-alert" role="alert">
						<strong>{{alert}}</strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					{{/if}}
					<form class="row login_form" action="/login" method="post" novalidate="novalidate" id="login-form">

						{{#if logError}}
						<p style="color:orangered">{{logError}}</p>
						{{/if}}

						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="name" name="email" placeholder="Username"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="password" name="password" placeholder="Password"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
						</div>
						<div class="col-md-12 form-group">
							<br>
							<br>
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="primary-btn">Log In</button>
							<a href="/forgot">Forgot Password?</a>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="img/login.jpg" alt="">
					<div class="hover">
						<h4>New to our website?</h4>
							<br>
						<a class="primary-btn" href="/signup">Create an Account</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>


<script>
	$(document).ready(function () {
		$("#login-form").validate({
			errorClass: "err",
			rules: {

				email: {
					required: true,
					email: true
				},

				password: {
					required: true,
					minlength: 4,


				},

			},
			messages: {
				email: {
					required: "Please enter your email id",
					email: "Enter a valid email"
				},
				password: {

					required: "Please enter your password",
				},
			}
		})
		$.validator.addMethod("namevalidation", function (value, element) {
			return /^[A-Za-z]+$/.test(value);
		},
			"Sorry,only alphabets are allowed"
		);


	})
</script>