<section class="vh-90 pt-5" style="background-color: #ffffff;">
  <div class="pt-5">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">Set New Password</h3>
              <form action="/set-pass" method="post">
                <div class="form-outline mb-4">
                  <input type="text" id="typeEmailX-2" class="form-control form-control-lg" name="email" />
                  <label class="form-label" for="typeEmailX-2">Email</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="password" id="typeEmailX-2" class="form-control form-control-lg" name="pass1"
                    id="pass1" />
                  <label class="form-label" for="typeEmailX-2">New Password</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="password" id="typeEmailX-2" class="form-control form-control-lg" name="pass2"
                    id="pass2" />
                  <label class="form-label" for="typeEmailX-2">Confirm New Password</label>
                </div>

                <div class="form-outline mb-4" style="margin-top: 7px;" id="CheckPasswordMatch"></div>
                <br>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    $("#pass2").on('keyup', function () {
      var password = $("#pass1").val();
      var confirmPassword = $("#pass2").val();
      if (password != confirmPassword)
        $("#CheckPasswordMatch").html("Password does not match !").css("color", "red");
      else
        $("#CheckPasswordMatch").html("Password match !").css("color", "green");
    });
  });



</script>