<section class="h-100 gradient-custom pt-5 pb-5">
  <div class="container  pt-5">
    <div class="pt-5 pb-5">


      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            <div class="card-header px-4 py-5 pt-5">
              <h5 class="text-muted mb-0">Your order has been cancelled. Refund will be Reached Soon <span
                  style="color:#ffa020;">{{orderDetails.deliveryDetails.name}}</span><span
                  style="color: #a8729a;"></span>!</h5>
            </div>
            <div class="card-body p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="small text-muted mb-0">Receipt Voucher : {{orderDetails._id}}</p>
              </div>
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0"><span style="color:#ffa020;">Order Details</span></p>

              </div>
              <div class="d-flex justify-content-between ">

                <p class="text-muted mb-0"><span class="fw-bold me-4">Amount
                    Paid</span>₹{{orderDetails.totalAmountPaid}}</p>
              </div>
              <div class="d-flex justify-content-between ">

                <p class="text-muted mb-0"><span class="fw-bold me-4">Amount To Be
                    Refunded</span>₹{{orderDetails.amountToBeRefunded}}</p>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
</section>